{% extends "messagesapp/navbar.html" %} {% block nav %}

<div class="container mt-4 p-4">
  <h1>Welcome to the Message App</h1>
  <div class="container mt-4">
    <p>
      This is a simple message app where you can send and receive messages. Use
      the navigation bar to send a new message, search for messages, or log out.
    </p>
  </div>

  <h2>Received Messages</h2>
  <ul>
    {% if received_messages_list %}
    <p>Here are the messages you have received:</p>
    {% for message in received_messages_list %}
    <li>
      <a href="{% url 'messagesapp:detail' message.id %}"
        >{{ message.content }}</a
      >
    </li>
    {% endfor %} 
  </ul>
    {% else %}
    <p>No messages received.</p>
  </ul>
  {% endif %}
  <h2>Sent Messages</h2>
  <ul>
    {% if sent_messages_list %}
    <p>Here are the messages you have sent:</p>
    {% for message in sent_messages_list %}
    <li>
      <a href="{% url 'messagesapp:detail' message.id %}"
        >{{ message.content }}</a
      >
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No messages sent.</p>
  </ul>
  {% endif %}
</div>
{% endblock %}
